.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.jumbo .jumboWrap{
  height: 300px;
  background-color: #282c34;
  color: #fff;
}
.jumboWrap h1{
  padding-top: 50px;
  margin: 20px auto;
  text-align: center;
}
.jumboWrap .jumbo_btn_box{
  margin: 40px;
}
/* .jumbo_btn_box button{
  border: none;
  background-color: coral;
  color: #fff;
  border-radius: 5%;
  padding: 5px 15px;
} */
.items{
  margin-top: 50px;
}
button{
  margin-top: 20px;
}